.CrimeHistoryMain {
  display: flex;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  flex: 9;
  box-sizing: border-box;
}

.CrimeHistoryMain .main {
  display: flex;
  width: 100%;
  height: 100%;
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
  min-height: 0; /* 자식이 부모 넘지 않도록 */
}

.CrimeHistoryMain .images-container {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px; /* 간격이 있으면 추가 */
  min-height: 0; /* 자식이 부모 넘지 않도록 */
  box-sizing: border-box;
}

.CrimeHistoryMain .shoes-image {
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
  background-color: white;
}
