.PartialPatterns {
  width: 100%;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0; /* 자식이 부모 넘지 않도록 */
  box-sizing: border-box;
  min-height: 0;
  min-width: 0;
}
.PartialPatterns .header-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 10px;
  box-sizing: border-box;
}

.PartialPatterns .patterns-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 0; /* 자식이 부모 넘지 않도록 */
  gap: 20px;
}

.PartialPatterns .partial-kind {
  background-color: #ccc;
  width: 100%;
  justify-content: center;
  display: flex;
  font-size: 24px;
}
