.ShoesRepositoryMain {
  display: flex;
  align-items: center;
  background-color: #f8f9fa;
  flex: 9;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  min-height: 0;
}

.ShoesRepositoryMain .main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 20px;
  box-sizing: border-box;
  min-height: 0; /* 자식이 부모 넘지 않도록 */
}

.ShoesRepositoryMain .search-form {
  flex: 9;
  display: flex;
  width: 100%;
  height: 100%;
  gap: 10px;
  min-height: 0;
  box-sizing: border-box;
}
