.ShoesRegisterMain {
  width: 100%;
  height: 100%;
  display: flex;
  box-sizing: border-box;
  min-height: 0;
  flex: 9;
  min-width: 0;
}

.ShoesRegisterMain .main {
  padding: 20px;
  display: flex;
  width: 100%;
  height: 100%;
  gap: 20px;
  box-sizing: border-box;
  min-height: 0; /* 자식이 부모 넘지 않도록 */
}

.ShoesRegisterMain .main-body-content {
  display: flex;
  flex-direction: column;
  flex: 1; /* 👈 전체 높이 비율 분배 */
  gap: 20px;
}
