.ShoesResultMain {
  display: flex;
  height: 100%;
  width: 100%;
  min-height: 0;
  min-width: 0;
  box-sizing: border-box;
  flex: 9;
}

.ShoesResultMain .main {
  padding: 20px;
  display: flex;
  width: 100%;
  height: 100%;
  gap: 20px;
  box-sizing: border-box;
  min-height: 0; /* 자식이 부모 넘지 않도록 */
}
